html,body{
	height: 100%;
}
h1{
	font-size: 1.2em; 
	color: #fff;
	line-height: 14px;
}
hr{
	width: 98%;
}
a{
	text-decoration: none;
	color:#00b38a;
}
img{
	float: left;
    margin-top:5px;
}

#img{
	float: left;
	max-width: 16px;
}
.headerImg{
	margin: 0;
}
.container{
	min-height: 100%;
	height: auto !important;
}
.container header{
    background: #00b38a;
	text-align: center;
	padding: 15px;
	height: 20px;

}
.content{
	background: white;
	padding-bottom:50px; 
}
.content .station img{
	float: left;
	width: 21px;

}
.content .station .main{
	margin:3px 0px 0px 0px;
	display: inline-block;
	line-height:27px;
	font-family: "黑体";
/*	font-weight: 700;*/


}
.word1{
	margin: 5px;
}
.secondary{
	color: #666;
	margin:0 2px;
	font-size: 1.2em;

}
.Detail{
	margin:15px 1%;
	padding: 5px;
	border: 1px solid  rgb(203,203,203);
	border-radius: 5px;
}
.word{
	margin-left: 5%;
}
.fh{
	float: right;
	color: #fe6738;
	font-size: 0.6em;
}
.price{
	float: right;
	color: #fe6738;
	font-size: 1em;
	font-weight: 600;
	margin-right: 50px;
}
.updateTicket{
	display: inline-block;
	float: right;
	margin-right: 5px;
}
.update{
	margin-right: 5px;
	display: inline-block;;
    width: 30px;
    height: 23px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	background:#fe6738;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 21px;

}
.userMessage{
	margin-top: 10px;
}
.input{
	width: 60%;
	margin-left: 5%;
	border: none;
	outline:none;

}
.bottomDiv{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;/*脚部的高度*/
	background: white;
	border-top: 1px solid rgb(221,221,221);
}
.bottomDiv span{
	float: left;
	display: inline;
	margin-right: 5px;
	line-height: 46px;
}
.bottomDiv .word{
	line-height: 43px;
}
.pay{
	float: right;
	background:#fe6738;
	height: 50px;
	width:100px;
}
.pay span{
	display: block;
	color: white;
    text-align: center;
    width: 100%
}
.small{
	font-size: 0.5px;
}
.big{
	font-size: 0.9em;
}
#usual{
	margin-left: 10px;
	width: 100px;
}
.checkCode{

	margin-left: 5%;

}
#btnSendCode{
	color: white;
    background: #fe6738;
    border: none;
    border-radius: 5px;
    padding: 5px;

}
.succse{
	margin-left: 6%;
	color: white;
	background: rgb(0,153,255);
	border: none;

}
#checkCode{
	margin-left: 7%;
}
.stationimg{
	float: left;
	margin-top: 7px;
	margin-right: 0;
	width: 20px;
	height: 20px;
	border: 1px solid white;
}
.start{
	background: url("http://simg1.qunarzz.com/bus/newicon.png") no-repeat -573px -69px;
} 
.end{
	background: url("http://simg1.qunarzz.com/bus/newicon.png") no-repeat -544px -69px;
}

.clr::after {
	display: block;
	width: 0px;
	height: 0px;
	clear: both;
	content: " ";
}

.date-display {
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: 600;
    color: #666;
}

.main-content {
    padding: 0 1%;
    width: 98%;
    border-top: 1px solid #ededed;
}

.content .station .main.start-sation {
	font-size: 1.5em;
    display: block;
    width: 33%;
    line-height: 64px;
    float: left;
	text-align: center;
}

.order-info {
	float: left;
	width: 33%;
	text-align: center;
}

.order-info span{
	display: block;
}



.content .station .order-info .brimg {
	float: none;
	width: 100%;
	margin-top: 0px;
}

.content .station span.end-sation {
	font-size: 1.5em;
    display: block;
    width: 33%;
    line-height: 64px;
    float: left;
	text-align: center;
}


#time {
	font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: -10px;
}



.bottomDiv span.price {
	font-size: 1.3em;
}

.note {
	background: #eee;
	padding: 2% 0;
	margin-bottom: 50px;
}

.note .page {
	width: 90%;
    margin-left: 3%;
    padding: 2%;
    background-color: #FDF3D9;
    border: 1px solid #E6942F;
    font-size: 0.8em;
    color: #666;
    line-height: 1.6;
}