h1{
	font-size: 1.4em; 
	color: #fff;
	line-height: 14px;

}
footer{
    text-align: center;
    margin-top: 4%;
}
footer p{
	font-size: 1em;

	
}
.container header{
    background: #00b38a;
	text-align: center;
	padding: 15px;
	height: 20px;

}

.container header img {
    width: 16px;	
}

a{
	text-decoration: none;
	color:rgb(0,153,255);
}
img{
	float: left;
}
.Message{
    width: 94%;
    margin-left: 2%;
    border: 1px solid #D4D4D4;
    margin-top: 15px;
    padding: 1%;
    border-radius: 5px;
    background: white;
    font-size: 0.9em;
}



table{
	width: 100%;
}
.orderMessage{
	margin-top: 1%;
	border-top: 1px solid rgb(230,230,230);
	position: relative;
}
td{
	/*width: 5%;*/
	color: #949090;
}
.orderMessage.list.maintable table tr td:first-child {
	width: 80px;
	vertical-align: top;
}

table .count.right {
	position: absolute;
	right: 10px;
    width: 92px;
}


.right{
	text-align: right;
}
button{
    margin-right: 10px;
    background: #fe6728;
    border-radius: 10px;
    border: 1px #fe6728;
    color:white;
    line-height: 38px;
    padding: 0 15px;
    font-size: 1em;


}
.price{
	color: red;
}
.orderNumber{
	display: block;
	font-size:1.1em;
	margin-left: 1%;
}
.time{
	display: block;
	font-size:1.1em;
	margin-left: 1%;
}
.count{
	color: black;
	font-size: 1.2em;
	margin-right: 10px;
}
.block{
	height: 10px;
}
span{
	display: inline-block;
	margin-left: 2%;

}
.title{
	margin-top: 12px;
    background-color: #fff;
    color: #B5B4B4;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
}

.active {
	background: #fe6728;
	color: #fff;
}
