html,body{
	height: 100%;
}
h1{
	font-size: 1.2em; 
	color: #fff;
	line-height: 14px;

}
/*footer{
    text-align: center;
    margin-top: 4%;
    height:35px;
}
footer p{
	font-size: 0.7em;

	
}*/
/*hr{
	width: 100%;
	color:rgb(153,153,153); 
}*/
.container{
	min-height: 100%;
	height: auto !important;
}
.container header{
    background: #00b38a;
	text-align: center;
	padding: 15px;
	height: 20px;


}
.content{
	width: 100%;
	float: block;
	padding-bottom: 35px;/*等于footer的高度*/
}
.personalMessage{
	height: 75px;
	padding: 10px;
	border-bottom: 1px solid rgb(230,230,230);
	background: white;
}
.content .personalMessage .detail{
	float: left;
	margin-right: 5px;
	line-height: 39px;
	font-size: 1.25em;
}
.content .personalMessage .userName{
	font-weight: 700;
}
.content .personalMessage .detail img{
    width: 72px;
	height: 72px;
}
.content .index{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(230,230,230);
	background: white;


}
/*.content .index span{
	display: inline-block;
	margin-right: 5%;
	font-size: 1.1em;
}*/
.content .left{
    font-size: 1em;
    margin-left: 5px;
    display: inline-block;
    width: 66%;

}

.content .right{
	font-size: 1em;
	
}
.content .main{
	font-weight: 700;
}
.content .indexDetail{
	display: inline-block;
	width: 48%;

}
.content .border{
	border-right: 2px solid rgb(230,230,230);
}
.order{
	padding:10px 20px;
	height: 30px;
	margin-top: 10px;
	border-bottom: 1px solid rgb(230,230,230);
	border-top:1px solid rgb(230,230,230);
	cursor: pointer;
	background: white;
}
.order span {
	float: left;
    font-size: 1.1em;
}

.order .tb{
	float: left;
    width: 25px;
    margin-top: 0.1px;
	margin-right: 5px;
}
.arrow{
    width: 22px;
    float: right;
}
.order img{
	margin-top: 5px;
	width: 15px;
}

