h1{
	font-size: 1em; 
	color: #fff;
	line-height: 18px;

}

td{
	width: 0.5%;
	height: 40px;
	text-align: center;
	margin-bottom: 5px;
    cursor: pointer;
}
img{
	cursor: pointer;

}
h4 span{
	font-size: 0.5em;

}

.container header{
    background: #00b38a;
	padding: 15px;
	height: 20px;

}
.container header img{
	float: left;
	max-width: 16px;
	margin-right:5px; 
}


.main{
    background-color: rgb(250,250,250);

}
.main div h4 {
	border-bottom: 1px solid #00b38a;
	margin-left:10px; 
	padding:5px 0;
	color:#00b38a; 
	font-size: 2.1em;
 
}

.main div h4 span{
	padding: 12px;
	border-bottom: 3px solid #00b38a;
}


