html,body { 
	margin: 0; 
	padding:0;
	 height: 100%; 
}
h1{
	font-size: 1.4em; 
	color: #fff;
	line-height: 14px;

}
footer{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 35px;/*脚部的高度*/
    clear:both;
    text-align: center;
    margin-top: 4%;

}
footer p{

	font-size: 0.7em;
	
}
.container{
	min-height:100%; 
	height: auto !important; 
	height: 100%; /*IE6不识别min-height*/
	position: relative;
}
.content{
	background: white;

}
.container header{
    background: #00b38a;
	text-align: center;
	padding: 15px;


}
img{
    margin-top: 15%;
}
.word{
    display: block;
    margin-top: 2%;
    font-size: 1.2em;
	margin-bottom: 10%;
}
.list{
	padding:10px 20px;
	height: 30px;
	border-bottom: 1px solid rgb(230,230,230);
	border-top:1px solid rgb(230,230,230);
	cursor: pointer;
	background: white;
}
.list span {
	float: left;
    font-size: 1.1em;
}

.list .tb{
	float: left;
    width: 25px;
    margin-top: 0.1px;
	margin-right: 5px;
}
.arrow{
    width: 22px;
    float: right;
}
.list img{
	margin-top: 5px;
	width: 15px;
}
.block{
	height: 20px;
}