<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="user-scalable=no ,width=device-width, initial-scale=1.0" name="viewport" />
	<title>确认订单</title>
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/order.css?version=5.5">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/reset.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/public.css"></head>
    <script type="text/javascript">
         var schedulesQuery_url = '{:U("Home/Index/schedulesQuery")}' ;
         var success_url = '{:U("Home/Booking/success")}' ;
	</script>

<body>
	<section class="container">
		<header >
			<img class='headerImg' src="__ROOT__/Application/Home/View/public/img/iconfont-arrowleft.png" alt="" id='img' style="    position: absolute;
    left: 10px;">
			<h1>确认订单</h1>
		</header>
		<div class="content">
			<div class='station  clr'>
				<div class="date-display">
					<span class='main' id='date'></span>
				</div>
				<div class="main-content">
					<span class='main start-sation'></span>
					<div class="order-info">
				        
						
						<span class='main' id="time">18:00</span><br>

						<img class="brimg" src="__ROOT__/Application/Home/View/public/img/brimg.png"></img>
						<span class='secondary' id='number'></span>
					</div>
				</div>
				<span class='main end-sation'></span>
			</div>
			<div class='order Detail'>
				<span class='word'>票价</span>
				<span class='price' ></span>
				<span class='fh' style="margin-top: 7px;">¥</span>
				<hr>
				<span class='word'>票数</span>
				<div class='updateTicket'>
					<span class='update' id='minus'>-</span>
					<span>
						<span class='ticketNumber'>1</span>
						<span>
							（余
							<span class='surplus' id='surplus'></span>
							张）
						</span>
					</span>
					<span class='update' id='add'>+</span>

				</div>

			</div>
			<div class='userMessage'>
				<form  id='userMessage'action="">
					<span class='word'>取票人信息</span>
					<div class='user Detail'>
						<input name='name' type="text" class='input name' style="display: none;" value="用户名" placeholder="取票人的真实姓名">
						<span class='word cellnumber' >手机号</span>
						<input name='cNumber' type="text" class='input cNumber' placeholder="取票人的联系电话"/>
							<hr>
						<div class='checkCode'>		
				        验证码<input type="text" id="checkCode" name="checkCode" size="6"/>  
				        <input id="btnSendCode" type="button" value="发送验证码" />  
						</div>

					</div>
				</form>
			</div>

			<div class="note">
				<div class="page">
					<p>友情提示</p>
					<p>1.请您在发车前2小时预定或退订车票；</p>
					<p>2.微信订票只可提供全票价的订票服务；</p>
					<p>3.在同一订单中，同一旅客最多只能订购5张以内的车票；</p>
					<p>4.提交订单时，请确认您输入的订票信息和联系方式准确无误；</p>
					<p>5.成功订票后，我们的工作人员会在您所预定的车辆发车前90分钟与您联系，请保持通讯畅通。</p><br>
					<p>若有疑问请拨打服务热线13822558552</p>
				</div>	
			</div>

		</div>
		<div class='bottomDiv'>
			<span class='word'>应付价格:</span>
			<span class='fh'>¥</span>
			<span class='price' >180</span>
			<div class='pay'>

				<span class='big' id='pay'>提交</span>
			</div>
		</div>
	</section>
	<script src="__ROOT__/Application/Home/View/public/js/order.js?version5.1"></script>
</body>
</html>