<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="user-scalable=no ,width=device-width, initial-scale=1.0" name="viewport" />
	<title>广深行讯通</title>
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/success.css?version2.3">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/reset.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/public.css"></head>
	 <script type="text/javascript">
         var orderDetail_url = '{:U("Home/User/orderDetail")}' ;
         var personalCenter_url = '{:U("Home/User/personalCenter")}' ;
	</script>
<body>
	<section class="container">
		<header >
			<h1>广深行讯通</h1>
		</header>
		<center>
			<div class="content">
				<img src="__ROOT__/Application/Home/View/public/img/iconfont-chenggong.png?version1" alt="">
				<span class='word'>下单成功，祝您旅途愉快</span>
				<div class='list user'>
					<img src="__ROOT__/Application/Home/View/public/img/iconfont-geren.png" alt="" class='tb'>
					<span id ='jump'>个人中心</span>
					<img src="__ROOT__/Application/Home/View/public/img/iconfont-later.png?version1.8" alt="" class='arrow'></div>
				<div class='list order'>
					<img src="__ROOT__/Application/Home/View/public/img/order.png?version1.5" alt="" class='tb'>
					<span id ='jump'>我的订单</span>
					<img src="__ROOT__/Application/Home/View/public/img/iconfont-later.png?version1.8" alt="" class='arrow'></div>
				<div class='block'></div>
			</div>
		</center>
		<footer>
			<p>© 广深行讯通       技术支持：伯爵科技</p>
		</footer>
	</section>
     <script src="__ROOT__/Application/Home/View/public/js/success.js?version1.1"></script>
</body>
</html>