<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="user-scalable=no ,width=device-width, initial-scale=1.0" name="viewport" />
	<title>班次详细信息</title>
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/schedulesQuery.css?version4.0">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/reset.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/public.css?version1.5"></head>
	<script type="text/javascript">
         var order_url = '{:U("Home/Booking/order")}' ;

	</script>
<body>
	<section class="container">
		<header >
			<img src="__ROOT__/Application/Home/View/public/img/iconfont-arrowleft.png" alt="" id='img'>
			<h1><img src="__ROOT__/Application/Home/View/public/img/iconfont-go-right.png" alt="" class='go-right'></h1>
		</header>
		<div class="content" id ='content'>
			<div class="Time">
				<div class='update' id='lastDate'>
					<前一天</div>
						<div class='date'></div>
						<div class='update' id='nextDate'>后一天></div>

					</div>
					<div id='detail'></div>


				</div>

			</section>
			<script src="__ROOT__/Application/Home/View/public/js/schedulesQuery.js?version3.2"></script>
</body>
		</html>