<div class="row" ng-controller="BusCtrl">
    <div class="col-xs-12" ui-view>

        <div class="well with-header  with-footer">
            <div class="header bg-blue">
                巴士表
            </div>
            <a href="javascript:void(0);" class="btn btn-default" ui-sref=".newBus">新建一个巴士</a>
            <table class="table table-hover">
                <thead class="bordered-darkorange">
                <tr>
                    <th>
                        巴士ID
                    </th>
                    <th>
                        巴士车牌号
                    </th>
                    <th>
                        座位数
                    </th>
                    <th>
                        推荐指数
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="businfo in bussinfo" on-finish-render-filters>
                    <td>
                        {{businfo.id}}
                    </td>
                    <td>
                        {{businfo.plate_number}}
                    </td>
                    <td>
                        {{businfo.seat_number}}
                    </td>
                    <td>
                        {{businfo.recommend_star}}
                    </td>
                    <td>
                        <eidtbtn eidtone="toEdit(businfo)" ui-sref=".editBus"></eidtbtn>
                        <deletebtn delete="doDelete(businfo.id,'http://1.bjticketsystem.sinaapp.com/index.php/Admin/Businfo/deleteBusinfo',getdata)" ></deletebtn>
                        <a href="javascript:void(0);" ng-click="doShop(businfo.id)" ng-show="businfo.status == 1" class="btn btn-warning">停运该大巴所有线路</a>
                        <a href="javascript:void(0);" ng-click="doStart(businfo.id)" ng-show="businfo.status != 1" class="btn btn-sccuess">开启该大巴所有线路</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>