<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="user-scalable=no ,width=device-width, initial-scale=1.0" name="viewport" />
	<title>广深行讯通</title>
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/orderDetail.css?version5.8">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/reset.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/public.css"></head>
    <script type="text/javascript">
         var personalCenter_url = '{:U("Home/User/personalCenter")}' ;
	</script>

<body>
	<section class="container">
		<header >
			<img src="__ROOT__/Application/Home/View/public/img/iconfont-arrowleft.png" alt="" id='img'>
			<h1 >个人订单</h1>
		</header>
		<span class='undetermined title active'>待乘订单</span><span class='complete title'>历史订单</span>
		<div class="content" id ='content'>
		</div>
		<div class='block'></div>

	</section>
	<script src="__ROOT__/Application/Home/View/public/js/orderDetail.js?version8.6"></script>
	<script type="text/javascript" src="__ROOT__/Application/Home/View/public/js/jquery.js"></script>

	<script type="text/javascript">
	// $(function(){
	// 	$(".title").bind("click",function(){
	// 		var $this = $(this);
	// 		console.log("ninico");
	// 		$this.addClass("active").siblings().removeClass(".active");
	// 	});
	// });

		
	</script>
</body>
</html>