<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="user-scalable=no ,width=device-width, initial-scale=1.0" name="viewport" />
	<title>广深行讯通</title>
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/personalCenter.css?version4.4">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/reset.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/public.css"></head>
    <script type="text/javascript">
         var orderDetail_url = '{:U("Home/User/orderDetail")}' ;
	</script>

<body>
	<section class="container">
		<header >
			<h1>个人中心</h1>
		</header>
		<div class="content">
			<div class ='personalMessage'>
				<span class='detail'>
					<img class='img'src="" alt="">
				</span>
				<span class='detail userName'>
					
				</span>
			</div>
			<div class='index'>
				<div class='indexDetail  border'>
					<span class='left main'>爱家指数</span>
	
					<span class='right zs'></span>
				</div>
				<div class='indexDetail'>
					<span class='left main'>积分</span>
					<span class='right jf'></span>
				</div>
			</div>
			<div class='order'>
				<img src="__ROOT__/Application/Home/View/public/img/order.png?version1.5" alt="" class='tb'>
				<span id ='jump'>
					我的订单
				</span>
				<img src="__ROOT__/Application/Home/View/public/img/iconfont-later.png?version1.8" alt="" class='arrow'>
			</div>


		</div>
	</section>
	<script src="__ROOT__/Application/Home/View/public/js/personalCenter.js?version6.4"></script>
</body>
</html>